@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-left">
        <li>
            @Html.ActionLink("مرحبا بك يا " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{

    @*<ul class="nav navbar-nav navbar-left">
        <li>@Html.ActionLink("اشتراك", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" }) 
        <li>@Html.ActionLink("تسجيل الدخول", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>*@

    <ul class="nav navbar-nav navbar-left">
        <li>
        <li>
     
        <a href="~/Views/Account/Register">اشتراك <i class="glyphicon glyphicon-lock"></i></a>
    </li>
        <li>
            <a href="#"> تسجيل الدخول <i class="glyphicon glyphicon-user"></i></a>
        </li>
    </ul>
}
