@using Microsoft.AspNet.Identity

<ul class="nav navbar-nav navbar-left">
    <li>
        <a href="#">اشتراك <i class="glyphicon glyphicon-lock"></i></a>
    </li>
    <li>
        <a href="#"> تسجيل الدخول <i class="glyphicon glyphicon-user"></i></a>
    </li>
</ul>

